:root{
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --white: #FFFFFF;
    --black: #000000;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-family: 'Quicksand', sans-serif;
    background-color: black;
    color: white;
}
.product-detail {
    width: auto;
    padding-bottom: 24px;
    margin: 24px 14px 0 24px;
  }
  .product-detail-close {
    background: var(--white);
    width: 14px;
    height: 14px;
    position: absolute;
    top: 24px;
    left: 24px;
    z-index: 2;
    padding: 12px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product-detail-close:hover {
    cursor: pointer;
  }
  .product-detail > img:nth-child(2) {
    width: 100%;
    max-width: 387px;
    height: 360px;
    object-fit: cover;
    border-radius: 0 0 20px 20px;
  }
.points {
  max-width: 387px;
  display: flex;
  justify-content: center;
}
.points > li {
background: var(--very-light-pink);
width: 8px;
height: 8px;
margin: 8px 6px;
border-radius: 50%;
 list-style-type: none;
 cursor: pointer;
}
.points > .active {
  background: #0f0;
}
.points > li:hover {
  background: #0f0;
}
  .product-info {
    margin: 24px 24px 0 24px;
    max-width: 360px;
  }
  .product-info p:nth-child(1) {
    font-weight: bold;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 4px;
  }
  .product-info p:nth-child(2) {
    color: var(--very-light-pink);
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 36px;
  }
  .product-info p:nth-child(3) {
    color: var(--very-light-pink);
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 36px;
  }

  .primary-button{
    width: 100%;
    height: 40px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: rgba(0, 255, 0, 0.692) ;
    border-radius: 8px;
    border:none;
    color: #FFFFFF;
    cursor: pointer;

}
  .add-to-cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
@media(min-width :682px){
  .product-detail{
    display: flex;
    justify-content: center;
  }
  
  .product-info{
    width: 360px;
    height: auto;
  }
}